<html>
    <header>
        <title>Iniciar Sesion</title>
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    </header>
    <body>
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class="col-12 forgot" class="table pb-21">
                        <br/>
                        <span class="cell text-uppercase text-title-login"> Iniciar Sesión</span>
                    </div>
                    <div class="col-12 user-img">
                        <img src="static/img/128.png" th:src="@{/img/user.png}"/>
                    </div>
                    <form class="col-12" th:action="@{/login}" method="get">
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Codigo de Usuario*" name="username"/>
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input type="password" class="form-control" placeholder="Contrasena*" name="password"/>
                        </div>
                        <button type="submit" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i>  Iniciar Sesión </button>
                    </form>
                     <div class="col-12 forgot" target="_blank">
                        <a href="..//recuperar-password/validate-pass.html">¿Olvidaste tu Contraseña?</a>
                    </div> 
                     <div th:if="${param.error}" class="col-lg-12 col-md-12 col-xs-12 errorMensaje" style="color: red; text-align: center; font-size: 12px;" wfd-invisible="true" id="divMensajeError">
                        <br/>
                        El usuario o contraseña es incorrecto, inténte nuevamente. 
                        Recuerde que luego de 3 intentos fallidos su cuenta se bloqueará.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>